/*****************************************************************************\
  base colors
\*****************************************************************************/

$greyLightest: #edf1f1;
$greyLight: #e0e4e4;
$grey: #e1e1e1;
$greyMedium: #cecdcc;
$greyMediumish: #bdb9b7;
$greyMediumish2: #a8a3a1;
$greyMediumer: #616868;
$greyDark: rgba(125, 125, 125);
$greyDarkish: rgba(56, 56, 56);
$greyDarker: #212424;

$blueLighter: #b2bbee;
$blueLight: #808ee1;
$blue: #576de7;
$blueDark: #273aa2;

$pinkLightest: #d3bbf2;
$pinkLighter: #d68df0;
$pinkLight: #ec75cb;
// $pink: #ec2f95; // contrast too low
// $pink: #f649a7; // better contrast
$pink: #f95db2;
// $pink: #f055a9; // even better contrast but looks washed out

$greenLighter: #e7ffed;
$greenLight: #acffc3;
$green: #85eba2;
$greenDark: #59df7f;
$greenTransparent: rgba(89, 223, 127, 0.3);

$tealLighter: #94eeee;
$tealLight: #65e0e0;
$teal: #41c7c7;
$tealDark: #2ba7a7;
$tealDarker: #1d7e7e;

$purpleLight: #b096e7;
$purple: #7854c3;
$purpleDark: #57457c;

$redLighter: #f8a8a8;
$redLight: #fc8f8f;
$red: #fe6a6a;
$redDark: #ec5555;
$redDarker: #d13f3f;
$redTransparent: rgba(254, 106, 106, 0.3);

$yellow: #fbf34c;
$yellowDark: #d4cc33;
$aqua: #1ea0f2;

$white: #ffffff;

$navyLightest: #7e86ad;
$navyLighter: #484f73;
$navyLight: #303652;
$navy: #232840;
$navyDark: #1a1f35;

// SMW COLORS

$primary-100: #001a72;
$primary-80: #2e4593;
$primary-60: #5a6fb6;
$primary-40: #919fcf;
$primary-20: #c2c7e4;
$accent-yellow: #ffe780;
$accent-blue: #87cce8;
$accent-red: #ffa3a1;
$accent-green: #b1dfd0;
$white: #fff;

/*****************************************************************************\
  "functional" colors
\*****************************************************************************/

$active-color: $teal;
$active-color-dark: $tealDark;

$contrast-color: $red;
$contrast-color-dark: $redDark;

$bg-color: $white;
$bg-color-light: $white;
$bg-color-lighter: $white;
$bg-color-lightest:$white;
$bg-color-inverted: $white;

$border-color: $primary-60;
$dark-border-color: $primary-80;
$darker-border-color: $primary-100;

$text-color: $primary-100;
$text-color-dark: $primary-80;
$text-color-darker: $primary-60;
$text-color-inverted: $primary-100;
$text-color-error: $accent-red;

$link-color: $accent-blue;
$hover-color: $accent-yellow;

:root {
  --bg-color: #{$white};
  --bg-color-light: #{$white};
  --bg-color-lighter: #{$white};
  --text-color: #{$primary-100};
  --text-color-dark: #{$primary-80};
  --text-color-darker: #{$primary-100};
  --text-color-inverted: #{$primary-100};
  --text-color-error: #{$accent-red};
  --link-color: #{$primary-100};
  --hover-color: #{$accent-yellow};
  --border-color: #{$border-color};
  --dark-border-color: #{$primary-80};
  --darker-border-color: #{$primary-100};
  --active-color: #{$accent-green};
  --contrast-color: #{$contrast-color};
  --accent-color: #{$contrast-color};
  --accent-color-2: #{$active-color-dark};
}
